{% extends 'base.html' %}

{% block title %}Последние зарегистрированные пользователи{% endblock %}

{% block content %}
	<h2>Список недавно зарегистрированных пользователей</h2>
	{% if latest_users_list %}
		{% for el in latest_users_list %}
			<a href="{% url 'signUp:detail' el.id %}">{{el.user_surname}} {{el.user_name}} {{el.user_patronymic}}</a><br>
		{% endfor %}
	{% else %}
		Пользователи не найдены
	{% endif %} 

	<hr>
		<h2>Регистрация</h2>

	<form action="{% url 'signUp:reg'%}" method="POST">
		
		{% csrf_token %}
	
		<table>
			{{ signUpForm.as_table }}
		</table>

		<input type="submit" value="Зарегистрироваться" >
	</form>
	{% if messages %}
		<ul class="messages">
    		{% for message in messages %}
    			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    		{% endfor %}
		</ul>
	{% endif %}
	<hr>

{% endblock %}