{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    
	<h2>Авторизация</h2>

	
	<form action="{% url 'signUp:log'%}" method="POST">
		
		{% csrf_token %}
	
		<table>
			{{ signInForm.as_table }}
		</table>

		<input type="submit" value="Войти" >
	</form>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			{% if message.tags == "error" %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}

{% endblock %}